<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is about page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-3">
					
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary" role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  								<span aria-hidden="true">&times;</span>
							</button>
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
						</div>
						
						<div class="container text-center">
							<img th:src="@{/images/register.png}" style="width: 80px"/>
						</div>
						<h1 class="text-center">Register Here..</h1>
							<form novalidate th:action="@{/do_register}" method="post" th:object="${user}">
								<!-- name -->
								<div class="form-group">
								    <label for="name_field">Enter you Name</label>
								    <!--   name should be equal to the entity field name    -->
								    <input name="name" type="text" 
								    	th:classappend="${#fields.hasErrors('name')?'is-invalid':''}" 
								    	class="form-control" id="name_field" 
								    	aria-describedby="emailHelp" 
								    	placeholder="Enter here" 
								    	th:value="${user.name}" required />
								   
								    <div th:each="e : ${#fields.errors('name')}" 
								    	th:text="${e}"
								    	class="invalid-feedback">	
								    </div>
								</div>

								<!-- email -->
								<div class="form-group">
								    <label for="email_field">Enter you Email</label>
								    <input name="email" type="email" class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="Enter here" th:value="${user.email}" required>
								</div>

								<!-- password -->
								<div class="form-group">
								    <label for="password_field">Enter you Password</label>
								    <input name="password" type="password" class="form-control" id="password_field" aria-describedby="emailHelp" placeholder="Enter here" required>
								</div>
								
								<!-- About -->
								<div class="form-group">
									<textarea name="about" placeholder="Enter something yourself..." rows="7" class="form-control" th:text="${user.about}"></textarea>
								</div>
								
								<!-- Terms and condition -->
								<div class="form-group form-check text-center">
									<input type="checkbox" name="agreement" class="form-check-input" id="agreement" />
									<label for="agreement">Accept terms and conditions</label>
								</div>
								
								<div class="container text-center">
									<button type="submit" class="btn bg-primary text-white btn-block">Submit</button>
									<button type="reset" class="btn btn-warning btn-block">Reset</button>
								</div>
								
							</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>